//colors
$white: #FFF;
$isa: #EEEDED;
$gray: #989797;
$coral: #fae64c;
$buff: #F1DD7B;
$vanilla: #F5E7A1;
$flame: #E4572E;
$ochre: #e87554;
$ppink: #F2B2A0;
$shiny: #4CA866;
$tgreen: #9DCFAB;
$pgray: #BDDFC7;
$bluef: #3C91E6;
$bluej: #5FA5EA;
$jordyb: #82B9EF;
$black:  #000000;
$space:#454545;
$silver:#a2a2a2;

//typography
$roboto-font:"Roboto", sans-serif;
$mono-font: "PT Mono", monospace;

//font weight
$font-thin: 300;
$font-medium: 500;
$font-bold: 700;

//style size
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;

//spacing
$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;
$sp6: 50px;

