.navbar{
    padding: $sp5;
    margin: 0 $sp3;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu{
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: $sp5;
    }
}